# Node
node_modules
dist
*.log

# Vite
.vite

# Python
.venv
__pycache__/
*.pyc
.ipynb_checkpoints

# Models & outputs
ml/saved_models/*.pkl
ml/saved_models/*.pth
ml/logs/*
!ml/logs/.gitkeep
ml/saved_models/registry.json
!ml/saved_models/registry.json

# OS
.DS_Store
Thumbs.db
